{% extends 'base.html'%}
{% load staticfiles %}
{% load thumbnail %}
{% load carton_tags %}
{% load jsonify %}


{%block title%} Cart Detail{%endblock%}

{%block content%}
{% csrf_token %}
<script type="text/javascript">
	var cart_json = [];	
</script>

{% get_cart as cart %}

<div class="container">
<div class="row" id="cart-details">
<div class="col-sm-12 col-md-10 col-md-offset-1">
<table class="table table-hover">
<thead>
	<tr>
		<th>Product</th>
		<th>Quantity</th>
		<th class="text-center">Price</th>
		<th class="text-center">Total</th>
		<th></th>
	</tr>
</thead>
<tbody>
{%for item in cart.items%}
{% with product=item.product%}
<script type="text/javascript">
	var cart = {
		'product':{
			'image':'{{product.image|thumbnail_url:'sm'}}',
			'name': '{{product.name}}',
			'pk': '{{product.id}}',
		},
		'quantity': '{{item.quantity}}',
		'price': '{{item.price}}',
		'subtotal': '{{item.subtotal}}',
		'total': '{{cart.total}}',
		{% if cart.coupon %}
		'total_after_discount': '{{cart.get_total_price_after_discount}}',
		'code': '{{cart.coupon.code}}',
		{%endif%}

	}
	cart_json.push(cart);

</script>
	<tr>
		<td class="col-sm-8 col-md-6">
        <div class="media">
        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{% if product.image %} {{product.image|thumbnail_url:'sm'}} {%else%} {% static 'image/image_not_found.jpg'%} {%endif%}" style="width: 72px; height: 72px;"/> 
        </a>
        <div class="media-body">
        <h4 class="media-heading"><a href="#">{{product.name}}</a></h4>
        </div>
        </div>
		</td>
		<td class="col-sm-1 col-md-1" style="text-align: center">
		<form  action="{% url 'cart:cart_update' product.id%}" method='POST' class="form-inline">
		{% csrf_token %}
		<!-- <input type="text" name="quantity" id="id_quantity" maxlength="1" size="2"> -->
		{% for field in form.visible_fields %}
	        {{ field}}
	    {% endfor %}
		<input type="submit" value="Update" />
		</form>
		</td>
		<td class="col-sm-1 col-md-1 text-center">${{item.price}}</td>
		<td class="col-sm-1 col-md-1 text-center">${{item.subtotal}}</td>
		<td class="col-sm-1 col-md-1">
		<a href="{%url 'cart:cart_remove' product.id%}" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span>Remove</a>
		</td>
	</tr>
	{%endwith%}
	{%endfor%}
	<tr>
	<td>
	{%if cart.items|length > 0 %}
		<form action="{% url 'coupons:coupon_apply' %}" method="POST" class="form-inline">
		{% csrf_token %}
		{% for field in coupon_apply_form.visible_fields %}
	        {{ field}}
	    {% endfor %}
			<input type="submit" value="Apply" class="btn btn-primary btn-sm" />
		</form>
	{%endif%}
	</td>
	<td></td>
	<td></td>
	<td><h3>{% if cart.coupon%} Subtotal {%else%} Total{%endif%}</h3></td>
	<td><h3><strong>${{cart.total}}</strong></h3></td>
	</tr>
	{%if cart.coupon%}
	<tr>
	<td>
	</td>
	<td></td>
	<td></td>
	<td><h3>Total</h3></td>
	<td><h3><strong>${{cart.get_total_price_after_discount|floatformat:"2"}}</strong></h3></td>
	</tr>
	{%endif%}
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td>
		<a href="{% url 'shop:product_list'%}" class="btn btn-default"> <span class="glyphicon glyphicon-shopping-cart"></span>Continue Shopping</a>
	</td>
	<td>
		<a href="{% url 'orders:order_create'%}" class="btn btn-success"><span class="glyphicon glyphicon-play"></span>Checkout</a>
	</td>
	</tr>
</tbody>
</table> 
<!-- END OF TABLE-->
</div>
</div>

<!-- Recommendation tag-->
{%if recommended_products %}
<div class="row">
	<h4 class="col-xs-6 col-md-6 col-md-offset-1">People who bought this also bought </h4>
</div>
<div class="row ">
	{% for object in recommended_products%}
	<div class="col-xs-6 col-md-3 col-md-offset-1 text-center">
	{%with object.images.all|first as product_image%}
	<a href="{{object.get_absolute_url}}" class="thumbnail">
		<img src="{%if product_image%} {{product_image.image|thumbnail_url:'lg'}} {%else%} {% static 'image/image_not_found.jpg'%} {%endif%}" alt="...">
	{%endwith%}
		{{object.name}}
	</a>
	</div>
	{%endfor%}
</div>
{%endif%}
<!-- END OF RECOMMENDER -->

</div><!-- END OF CONTAINER -->

{%endblock%}