{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{%block title%} Home {%endblock%}

{% block content %}
<div class="row text-center">
{% for object in object_list%}
    <div class="col-sm-3 ">
    {% with object.images.all|first as product_image%}
	    <img class="img-circle" src="{%if product_image%} {{product_image.image|thumbnail_url:'lg'}} {%else%} {% static 'image/image_not_found.jpg'%} {%endif%}" width="140" height="140">
	{%endwith%}
		<h3><a href="{% url 'shop:product_detail' object.id object.slug%}" >{{object.name}}</a></h3>
		<p>{{object.price}}</p>
		{% if object.available%}<p>In Stock {%else%} Out Of Stock</p>{%endif%}
	</div>
{%endfor%}
</div>
{%endblock%}