{%extends 'base.html'%}
{%block title%} Shipping Detail {%endblock%}
{% load carton_tags %}

{%block content%}

<div class="row">
	<div class="col-sm-6">
	<form method="POST" class="form-horizontal">
		{% csrf_token %}
		{%include 'partials/form.html'%}
		<div class="group-control">
			<div class="col-sm-3 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Submit" />
			</div>
		</div>
	</form>
	</div>
	
	<div class="col-sm-4 col-sm-offset-2">
		<div class="panel panel-default">
		  <div class="panel-heading">Summary of Your Order</div>
		  <div class="panel-body">
		{% get_cart as cart %}
		{%for item in cart.items%}
			{% with product=item.product%}
		    <strong>Product Name</strong> {{product.name}} <br>
		    <strong>Item Price</strong> {{item.price}} <br>
		    <hr>
		    {%endwith%}
		{%endfor%}
		<strong>Total</strong> ${{cart.total}}<br>
	    {% if cart.coupon %}
	    <strong>Code</strong> {{cart.coupon.code}} <br>
	    <strong>Discount</strong> {{cart.coupon.discount}} % OFF <br>
	    <strong>Amount Discounted</strong> ${{cart.get_discount|floatformat:"2"}} <br>
	    <strong>Subtotal</strong> ${{ cart.get_total_price_after_discount|floatformat:"2" }}
	    {%endif%}
		   	
		</div>
		  </div>
		</div>
	</div>
</div>
{%endblock%}